.container {
    display: flex;
    align-items: center;
    border-radius: 5px;
    margin: 5px 0px;
}

.dark {
    background-color: #954974;
}

.light {
    background-color: #b75b8ecc;
}

.container img {
    height: 40px;
    margin: 5px;
    border-radius: 2px;
}

.container p {
    margin-left: 10px;
    font-size: 14px;
    font-weight: 400;
}
