.container {
    display: flex;
    align-items: center;
    border-radius: 5px;
    margin: 5px 0px;
}

.dark {
    background-color: #954974;
}

.light {
    background-color: #b75b8ecc;
}

.container img {
    height: 37px;
    margin: 5px 4px 5px 6px;
    border-radius: 2px;
}

.container p {
    font-size: 14px;
    font-weight: 400;
}

@media (max-width: 600px){
    .container p {
        font-size: 12px;
    }
    
}